/*
#box1,#box2,#box3,#box4 {
	border: 2px solid black;
}
*/
.sub-body-logo {
	height: 140px;
	width: 140px;
	background-color: #B22222;
	border-radius: 50%;
}
.container .col-lg-3 {
	text-align: center;
}
.container .col-lg-3 div {
	margin: 10px auto;
}
.container .col-lg-3 img {
	margin: 20px auto;
}


#slide1 .carousel-caption {
	width: 30%;
	margin-left: 45%;
	margin-bottom: -50px;
	background-color: grey;
	background-color:rgba(0,0,0,0.4);
	text-align: left;
	padding-left: 20px;
}
#slide2 .carousel-caption {
	width: 30%;
	margin-left: 45%;
	margin-bottom: -50px;
	background-color: grey;
	background-color:rgba(255,255,255,0.3);
	text-align: left;
	padding-left: 20px;
	padding-bottom: 5px;
}
#slide2 .carousel-caption p {
	margin-bottom: 10px;
}
#slide2 .carousel-caption ul {
	padding: 0;
	padding-left: 15px;
	font-size: 16px;
}
/* box elements */
.marketing .box {
	text-align: center;
}

/* block elements */
#block1 p {
	line-height:0.8;
}
#block1 a {
	color: #696969;
	text-decoration: none;
}

#project-frame {
	width: 500px;
	height: 500px;
}
#project-frame p {
	vertical-align: middle;
}
.project-btn {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
	font-size:20px;
	border: 0;
}
#project-intro p {
	line-height: 0.8;
	font-weight: 500;
}
#project-btn1, #project-btn8 {
	background-color: #4B4B4B;
}
#project-btn1:hover,#project-btn2:hover,#project-btn3:hover,#project-btn5:hover,
#project-btn7:hover,#project-btn8:hover,#project-btn9:hover {
	background-color: #DDDDDD;
}
#project-btn4:hover,#project-btn6:hover {
	background-color: #808080;
}
#project-btn3 {
	background-color: #969696;
	color: black;
}
#project-btn4 {
	background-color: #DDDDDD;
	color: black;
}
#project-btn5 {
	background-color: #666666;
}
#project-btn6 {
	background-color: #EEEEEE;
	color: black;
}
#project-btn7 {
	background-color: #808080;
}
/* publications page design */
#publications-title {
	font-family: 'Roboto', sans-serif;
}
#publications-full_list {
	font-family: 'Roboto', sans-serif ;
	font-size: 20px;
}

#publications-list a,#publications-list li {
	font-family: 'Roboto', sans-serif;
	color: #696969;
	text-decoration: none;
	padding-bottom: 15px;
}
/* opprtunities page design */
#Opportunities-frame {
	font-family: 'Roboto', sans-serif;
}
#Opportunities-frame h1 {
	color:#646464;
}
#Opportunities-frame h3 {
	color:#708090;
}
#Opportunities-frame p {
	font-size: 20px;
	color:#808080;
}

/* media query */
/* large screen */
@media (min-width: 992px) {
#project-intro {
	padding-left: 80px;
}
/* middle screen */
}
@media (min-width: 768px) and (max-width: 991px) {
#project-intro {
	padding-left: 80px;
}
#project-frame {
	width: 350px;
	height: 350px;
}
.project-btn {
	width: 100px;
	height: 100px;
}
}
/* small screen */
@media  (min-width: 0) and (max-width: 767px){

.carousel-item, .carousel-item img {
  height: 300px !important;
 }

#project-intro {
	margin-left: 0;
}
#slide1 .carousel-caption {
	width: 30%;
	height:50%;
	margin-left: 45%;
	margin-bottom: -50px;
	background-color: grey;
	background-color:rgba(0,0,0,0.4);
	text-align: left;
	padding-left: 20px;
	font-size:12px;
}
#slide2 .carousel-caption {
	width: 30%;
	height:50%;
	margin-left: 45%;
	margin-bottom: -50px;
	background-color: grey;
	background-color:rgba(255,255,255,0.3);
	text-align: left;
	padding-left: 20px;
	padding-bottom: 5px;
	font-size:12px;
}
.carousel-caption p, .carousel-caption h1, .carousel-caption h2, .carousel-caption li {
	line-height: 0.3;
	margin-bottom: 10px;
	font-size:12px;
}

}